<!doctype html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% seo %}

  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  {% include head-custom.html %}
  <style>
    img {
      max-width: 30%;
      float: left;
      padding: 5px;
      padding-right: 20px;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    {% include header.html %}
    <section>
      {{ content }}
    </section>

    {% if page.name == "README.md" %}
    <section>
      Effects:

      {% assign all_tags = "" | split: ',' %}
      {% for tag_pair in site.tags %}
      {% assign all_tags = all_tags | push: tag_pair[0] %}
      {% endfor %}

      {% assign sorted_tags = all_tags | sort %}

      {% for tag in sorted_tags %}
      {% assign tag_slug = tag | slugify: "raw" %}
      <a class="tag-link" href={{ "/effect/" | append: tag_slug | append: ".html" | relative_url }} rel="tag">
        #{{ tag }}
      </a>
      {% endfor %}
    </section>
    {% endif %}

  </div>
  <!--[if !IE]><script>fixScale(document);</script><![endif]-->
</body>

</html>